#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid blue;
  padding: 3em;
}

input {
  margin: 1em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* To ensure it's above other content */
}

h2 {
  margin: 0;
}

button {
  background-color: #909090;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.test-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  border: 2px solid blue;
  padding: 20px;
}

.dev-border {
  border: 2px solid blue;
  width: 200%;
}

.test-setup {
  display: flex;
  justify-content: space-between;
}

.error-ul {
  border: 2px solid blue;
  background-color: red;
  list-style: none;
}

.test-records {
  width: 90%;
  border: 2px solid blue;
  padding: 1em;
  background-color: rgb(55, 133, 212);
}

.test-select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid blue;
  background-color: rgb(55, 133, 212);
  margin-top: 1em;
}

.test-select-card {
  border: 2px solid blue;
  padding: 12px;
  margin: 8px;
}
